body{
	margin:0;
	padding:0;
	background-color:gray;
}
.main-container{
	display:flex;
}
.details{
	width:60%;
}
.summary{
	width:50%;
	height:70%;
}
.product{
	display:flex;
}
.product input{
	width:55px;
}
.product img{
	width:120px;
	height:120px;
}
.p_details{
	font-size:14px;
	display:flex;
	flex-direction:column;
}
.summary .details{
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}